
<div style="text-align:center;max-width:960px;margin: auto;">
<h5>{{ title }}</h5>

<!--
<nav aria-label="Page navigation">
  <ul class="pagination">
  <li><a routerLink="/dashboard">Dashboard</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/portal">Portal</a></li>
  <li><a routerLink="/demographics">Demographics</a></li>
  <li><a routerLink="/intro">Introduction</a></li>
  <li><a routerLink="/assessment">Assessment</a></li>
  </ul>
</nav>
-->

<router-outlet></router-outlet>
<!--<span class="input-sm">{{ subtitle }}</span>-->
</div>


