<div class="container-fluid">
<div style="text-align:center">
<div class="section">
<label [tabIndex]="1" (click)="onSelect('en-US')" (keydown)="onKeydown($event)" class="btn btn-primary btn-lg btn-block">English</label>
<label [tabIndex]="2" (click)="onSelect('es')" (keydown)="onKeydown($event)" class="btn btn-primary btn-lg btn-block">Español</label>
<label [tabIndex]="3" (click)="onSelect('de')" (keydown)="onKeydown($event)" class="btn btn-primary btn-lg btn-block">Deutsch</label>
</div> 
</div>
</div>
